.side_menu {
  position: sticky;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 56px;
  padding: 10px 0 0 20px;
  border-bottom: 1px solid $silver;
  background-color: $white;
  transition: height .4s ease-in-out;

  &.is_open {
    display: block;

    .side_menu_dim {
      display: block;
    }
  }

  .btn_hamburger {
    position: absolute;
    top: 6px;
    right: 6px;
  }

  &_dim {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $header-menu-z-index;
    width: 100%;
    height: 100%;
    background-color: rgba($black, .7);
  }
}
