.accordion {
  $accordion: &;

  &_header {
    display: block;
    position: relative;
    width: 100%;
    padding: 11px 16px 11px 42px;
    border-bottom: 1px solid $silver;
    background-color: $whiteSmoke;
    color: $darkGray;
    outline: none;
    line-height: 22px;
    text-align: left;

    &[aria-expanded='true'] {
      #{$accordion}_icon {
        transform: rotate(180deg);
      }
    }
  }

  &_icon {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 12px;
    height: 12px;
    transition: transform .3s;
  }
}
