// font
$noto: 'Noto Sans KR';

// color
$white: #fff;
$black: #000;
$black2: #070707;
$black3: #343434;
$black4: #404047;
$gray: #f2f4f7;
$gray2: #e3e4e5;
$gray3: #d4d4d4;
$gray4: #bfbfbf;
$gray5: #999;
$gray6: #7b7b7b;
$red: #e30613;
$theme-blue-primary: #2899fb;
$theme-blue-primary-hover: #2f80ed;
$theme-blue-secondary: #f1f9ff;
$theme-blue-secondary-hover: #d8e7fc;
$blue: #505aef;
$purple: #aa43ff;
$red: #e30613;
$darkGray: #404047;
$lightGray: #8e8e95;
$veyLightgray: #ccc;
$whiteSmoke: #f7f7f9;
$silver: #e4e4e9;
$ghostwhite: #f8f9fa;
$gradBlue1: #597aef;
$gradBlue2: #13b7e4;
$gradPurple: #ac3dfa;

// z-index
$z-zero: 0;
$z-min: 1;
$z-neg: -1;
$z-layer: 100;
$header-menu-z-index: 10;
$header-title-z-index: 10;

// size
$content-width: 1404px;
