/* Font */
@font-face {
  font-weight: 400;
  font-family: 'Noto Sans KR';
  src: url('asset/font/NotoSansCJKkr-DemiLight.woff') format('woff');
}

@font-face {
  font-weight: 500;
  font-family: 'Noto Sans KR';
  src: url('asset/font/NotoSansCJKkr-Medium.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-family: 'Noto Sans KR';
  src: url('asset/font/NotoSansCJKkr-Bold.woff') format('woff');
}
