body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
th,
td,
form,
fieldset,
legend,
textarea,
input,
select,
button,
article,
aside,
dialog,
footer,
header,
section,
nav,
figure,
main {
  margin: 0;
  padding: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
dialog,
footer,
header,
section,
nav,
figure,
main {
  display: block;
}

html,
body {
  height: 100%;
  text-size-adjust: none;
}

img,
form,
fieldset,
svg,
li {
  border: 0;
  vertical-align: top;
}

ul,
ol {
  list-style: none;
}

/* fieldset issue https://bit.ly/2WjOzaI */
fieldset {
  overflow: hidden;
  min-width: 0;
  text-overflow: ellipsis;
}

input,
button,
select {
  border: 0;
  border-radius: 0;
  background: transparent;
  appearance: none;
}

textarea {
  overflow: auto;
  border-style: none;
  border-color: transparent;
  resize: none;
}

address,
caption,
em {
  font-style: normal;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

a,
a:focus,
a:active,
a:hover {
  color: $black4;
  text-decoration: none;
}

body,
button,
input,
select,
textarea {
  font-size: 14px;
  font-family: $noto, -apple-system, BlinkMacSystemFont, 'Malgun Gothic', Dotum, Helvetica, sans-serif;
}

button {
  overflow: visible;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

input {
  &::-ms-check {
    display: none;
    border: 0;
  }

  &::-ms-clear {
    display: none;
  }

  &::placeholder {
    color: $gray6;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  [type='number']::-webkit-outer-spin-button,
  [type='number']::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
  }

  [type='radio'] + label {
    vertical-align: top;
  }
}

svg {
  pointer-events: none;
}
